<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
         cacheDirectory=".phpunit.cache"
         failOnWarning="true"
         failOnRisky="true"
         failOnEmptyTestSuite="true"
         beStrictAboutOutputDuringTests="true">
    <testsuites>
        <testsuite name="guild-access">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <!-- ignoreIndirectDeprecations: don't count deprecations triggered inside
         dependencies (jumbojett's implicitly-nullable-param notices on PHP 8.4+);
         only our own code's deprecations should surface. -->
    <source ignoreIndirectDeprecations="true">
        <include>
            <directory>src</directory>
        </include>
    </source>
</phpunit>
